<ion-view view-title="Bundesländer">

  <ion-content>



                <div class="list">


  <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('baden_wuerttemberg.rss')">
          <img class="icon"  ng-src="./img/bawue.png">
    <span style="margin-left:20pt;">Baden-Württemberg</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('bayern.rss')">
          <img class="icon"  ng-src="./img/bayern.png">
    <span style="margin-left:20pt;">Bayern</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('berlin.rss')">
          <img class="icon"  ng-src="./img/berlin.png">
    <span style="margin-left:20pt;">Berlin</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('brandenburg.rss')">
          <img class="icon"  ng-src="./img/brandenburg.png">
    <span style="margin-left:20pt;">Brandenburg</span>
    <i class="icon ion-chevron-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('bremen.rss')">
          <img class="icon"  ng-src="./img/bremen.png">
    <span style="margin-left:20pt;">Bremen</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('hamburg.rss')">
          <img class="icon"  ng-src="./img/hamburg.png">
    <span style="margin-left:20pt;">Hamburg</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('hessen.rss')">
          <img class="icon"  ng-src="./img/hessen.png">
    <span style="margin-left:20pt;">Hessen</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('mecklenburg_vorpommern.rss')">
          <img class="icon"  ng-src="./img/meckpom.png">
    <span style="margin-left:20pt;">Mecklenburg-Vorpommern</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('niedersachsen.rss')">
          <img class="icon"  ng-src="./img/niedersachsen.png">
    <span style="margin-left:20pt;">Niedersachsen</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('nordrhein_westfalen.rss')">
          <img class="icon"  ng-src="./img/nrw.png">
    <span style="margin-left:20pt;">Nordrhein-Westfalen</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('rheinland_pfalz.rss')">
          <img class="icon"  ng-src="./img/rhpfl.png">
    <span style="margin-left:20pt;">Rheinland-Pfalz</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('saarland.rss')">
          <img class="icon"  ng-src="./img/saarland.png">
    <span style="margin-left:20pt;">Saarland</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('sachsen.rss')">
          <img class="icon"  ng-src="./img/sachsen.png">
    <span style="margin-left:20pt;">Sachsen</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('sachsen_anhalt.rss')">
          <img class="icon"  ng-src="./img/sachsenanhalt.png">
    <span style="margin-left:20pt;">Sachsen-Anhalt</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('schleswig_holstein.rss')">
          <img class="icon"  ng-src="./img/schleswig.png">
    <span style="margin-left:20pt;">Schleswig-Holstein</span>
    <i class="icon ion-chevron-right"></i>
  </a>

   <a class="item item-icon-left item-icon-right" href="#" ng-click="showdetails('thueringen.rss')">
          <img class="icon"  ng-src="./img/thueringen.png">
    <span style="margin-left:20pt;">Thüringen</span>
    <i class="icon ion-chevron-right"></i>
  </a>


      </div>

            </ion-content>
</ion-view>
