<ion-view view-title="Über">
  <ion-content style="padding: 10pt; text-align: center;">
    <span style="font-size:14pt; font-weight: bold;">ASCOMP Software GmbH</span><br />
<br/>
<span style="font-size:14pt;">
Hinterer Bergweg 16<br />
71229 Leonberg
</span><br />
<hr>

    E-Mail: <a href="mailto:support@ascomp.de">support@ascomp.de</a><br />
    Telefon: 07152 - 765 86 03<br />
    Telefax: 07152 - 765 86 06<br />
    <br />
    <span style="font-weight: bold;">Telefonische Produktunterstützung</span><br />
    Technische Anfragen: 0900 - 101 909 1*<br />
    Buchhaltung: 07131 - 90 20 179<br />
    <br />
    <span style="font-weight: bold;">Produktunterstützung per E-Mail</span><br />
    Technische Anfragen: <a href="mailto:support@ascomp.de">support@ascomp.de</a><br />
    Buchhaltung: <a href="mailto:buchhaltung@ascomp.de">buchhaltung@ascomp.de</a><br />
    <br />
    <span style="font-size: 7pt;">* 0,49 €/Min. aus dem dt. Festnetz</span><br />
    <br />
    <span style="font-weight: bold;">Amtsgericht Stuttgart</span>, HRB 24085<br />
    USt-IdNr. (VAT): DE289572562<br />
    Geschäftsführer: Andreas Ströbel<br />
    <br />  </ion-content>
</ion-view>
